    <body id="pintao">
        <h1 class="titulo" >TOP 3 MEJORES USUARIOS</h1>
        <div class="tablapuntaje">
            <div class="tablapuntaje-head">
            <table>
            <thead>
        <tr > 
            <th class="th1">usuario 1 ---- usuario 2 ---- usuario 3</th>   
    </tr>
    </thead>
    </table>
    </div>
    <div class="table100-body js-pscroll ps ps--active-y">
    <table id="tablapuntos">
    <tbody>
    <tr>
            {{#each consulta}}
                <td class="column1"> usuario: {{this.usuario_log}}---- puntaje: {{this.puntaje_maximo}}   </td>
                
            {{/each}}
    </tr>
        
    <tr>        
      
    </tr>
    </tbody>
    </table>
    </div>
    </div>
    </body>
    
